{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Championship - Games' list{% endblock meta_title %}

{% block inner %}
{% if user.is_staff %}
    <a href="{% url 'championship_games_generate' tournament.id %}" class="btn btn-default">
        Generate games
    </a>

{% endif %}
<a href="{% url 'championship_table' tournament.id %}" class="btn btn-default">
    Table of Championship
</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Games:</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ game }}></td>
            {% if user.is_staff %}
            <td><a href="{% url 'game_score_update' tournament.id game.id %}">Update Score</a></td>
            <td><a href="{% url 'playoff_game_delete' tournament.id game.id %}">Delete Game</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock inner %}