{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Championship - Games' generate{% endblock meta_title %}

{% block title %}
<a href="{% url 'tournament_contestants_list' tournament.id %}">{{ tournament }}:</a>
{% endblock title %}

{% block content %}
{% if tournament.command_set.all %}
<p>Generating games will make automatically. All games which were existed - will destroy.</p>
<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <input type="submit" name="generate_btn" value="Generate" />
</form>
{% else %}
<p>There is not any command therefore we cannot create Games.</p>
{% endif %}
{% endblock content %}