{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - User of tournament{% endblock meta_title %}

{% block inner %}
{% if user.is_staff %}
    <a href="{% url 'tournament_users_update' tournament.id %}" class="btn btn-default">Update user's list</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>users:</th>
        </tr>
    </thead>
    <tbody>
        {% for user in tournament.users.all %}
        <tr>
            <td>{{ user.get_full_name|default:user.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock inner %}