{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Commands of tournament{% endblock meta_title %}


{% block inner %}


{% if user.is_staff %}
    <a href="{% url 'tournament_command_update' tournament.id %}" class="btn btn-default">Update commands' list</a>
    <a href="{% url 'form_teams' %}?tournament={{ tournament.id }}" class="btn btn-default">
        Form teams auto
    </a>
    <a href="{% url 'tournament_command_create' tournament.id %}" class="btn btn-default">
        Add a command manually
    </a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>commands:</th>
        </tr>
    </thead>
    <tbody>
        {% for command in tournament.command_set.all %}
        <tr>
            <td><a href="{% url 'tournament_command_update' command.id %}">
                {{ command }}
                </a>
            </td>
            <td><a href="{% url 'tournament_command_delete' command.id %}">Delete the command</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock inner %}
