{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Detail tournament{% endblock meta_title %}

{% block title %}{{ tournament }}: {% endblock title %}


{% block inner %}


{% if user.is_staff %}
    <a href="{% url 'tournament_update' tournament.id %}" class="btn btn-default">Edit this tournament</a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>commands:</th>
        </tr>
    </thead>
    <tbody>
        {% for team in tournament.command_set.all %}
        <tr>
            <td>{{ team }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock inner %}
