{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Contestants of tournament{% endblock meta_title %}

{% block inner %}
{% if user.is_staff %}
    <a href="{% url 'tournament_contestants_update' tournament.id %}" class="btn btn-default">Update contestents' list</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>contestants:</th>
        </tr>
    </thead>
    <tbody>
        {% for contestant in tournament.contestants.all %}
        <tr>
            <td>{{ contestant.get_full_name|default:contestant.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock inner %}