{% extends "football_app/tournament_base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Commands of tournament{% endblock meta_title %}


{% block inner %}

<div class="col-xs-6">
{% if user.is_staff %}
    <a href="{% url 'form_commands' %}?tournament={{ tournament.id }}" class="btn btn-default">
        Form commands auto
    </a>
    <a href="{% url 'tournament_command_create' tournament.id %}" class="btn btn-default">
        Add a command manually
    </a>
{% endif %}
</div>
<div class="col-xs-6">
<form method="get">
    <input type="search" name="player" placeholder="type contestant" value="{{ request.GET.player }}" />
    <input type="submit" value="Filter"/>
</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>commands:</th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        <tr>
            <td><a href="{% url 'tournament_command_update' command.tournament.id command.id %}">
                {{ command }}
                </a>
            </td>
            {% if user.is_staff %}
            <td><a href="{% url 'tournament_command_delete' command.tournament.id command.id %}">Delete the command</a> </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock inner %}
