/* main css file */

/* * {
    border: 1px solid red;
}  */

#user-toolbar {
    margin-top: 20px;
    padding-right: 20px;
    /*text-align: center;*/
}

#buttons-ch div {
    margin: 20px;
}

#header h1 a {
    color: black;
}

#create-btn {
    margin: 20px 0 10px;
}

.nav-tabs {
    margin-bottom:20px;
}

#tourn-list {
    margin: 20px;
}