{% extends 'football_app/base.html' %}

{% load static from staticfiles %}
{% load static %}

{% block meta_title %} - {{ user.get_full_name|default:user.username }}{% endblock meta_title %}

{% block title %} User's profile: {% endblock title %}

{% block content %}
{% if user.is_staff %}
<div class="voting">
    <a href="{% url 'voting_create' %}" class="btn btn-default">Assign Voting</a>
    <a href="{% url 'voting_closing' %}" class="btn btn-default">Voting
        Closing</a>
</div>
{% endif %}
<div>
    {% for voting in user.voting_set.all %}
        {% if not voting.is_voted and voting.voting_list.is_open %}
        <p><a href="{% url 'voting' voting.voting_list.tournament.id %}">{{ voting }}</a></p>
        {% endif %}
    {% endfor %}
</div>
<table class="table table-striped">

    <tr>
        <th>Avatar:</th>
        <td>
            {% if user.avatarprofile.avatar %}
            {% get_media_prefix as MEDIA_PREFIX %}
            <img src="{{ MEDIA_PREFIX }}{{ user.avatarprofile.avatar }}" alt="Avatar" height="42"
                                 width="42" />
            {% endif %}
        </td>
    </tr>


    <tr>
        <th>Email:</th>
        <td>{{ user.email }}</td>
    </tr>



    <tr>
        <th>Username:</th>
        <td>{{ user.username }}</td>
    </tr>



    <tr>
        <th>First Name:</th>
        <td>{{ user.first_name }}</td>
    </tr>



    <tr>
        <th>Last Name:</th>
        <td>{{ user.last_name }}</td>
    </tr>



    <tr>
        <th>Joined:</th>
        <td>{% if user.date_joined %}{{ user.date_joined }}{% endif %}</td>
    </tr>

</table>

<div>
    <a class="btn btn-primary" href="{% url 'user_update' user.id %}">Change data</a>
</div>
{% endblock content %}

