{% extends "football_app/base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Voting page{% endblock meta_title %}

{% block title %}Voting for tournament{% endblock title %}

{% block content %}
<ul id = "sortable-1">
    <li class = "default">Product 1</li>
    <li class = "default">Product 2</li>
    <li class = "default">Product 3</li>
    <li class = "default">Product 4</li>
    <li class = "default">Product 5</li>
    <li class = "default">Product 6</li>
    <li class = "default">Product 7</li>
</ul>
{% endblock content %}

